<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.member.dao.MemberDAO">
<resultMap type="com.care.root.member.dto.MemberDTO" id="member">
  <result property="id" column="id"/>
  <result property="name" column="name"/> 
  <result property="pw" column="pw"/> 
  <result property="email" column="email"/> 
 </resultMap>
 
  <select id="loginChk" resultMap="member">
  select * from CMEMBER where id=#{id}
 </select>
 <select id="idChk" resultType="Integer">
  select count(*) from CMEMBER where id=#{id}
 </select>
  <select id="findId" resultType="String">
		select id from CMEMBER where name = #{name} and email = #{email}
	</select>
	
	<select id="findPw" resultType="String">
		select pw from CMEMBER where id = #{id} and email = #{email}
	</select>
	
	<update id="tempPwUdate">
	update CMEMBER set pw = #{tempPw} where id = #{id}
	</update>
 
  <insert id="memberReg">
  insert into CMEMBER (id, name, pw, email) values (#{id}, #{name}, #{pw}, #{email})
 </insert>
<!--  <insert id="insertMember">
  insert into test_mybatis values(#{id}, #{name})
 </insert>
 -->

</mapper>